@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
	background-color: #fff;
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-grey: hsl(0, 0%, 98%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--very-light-grey);
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 550px;
  margin: 40px auto 20px auto;
  text-align: center;
}

header #light-font {
  font-weight: 200;
  color: var(--very-dark-blue);
}

header #dark-font {
  font-weight: 600;
  color: var(--very-dark-blue);
}

header p {
  font-size: 15px;
  color: var(--grayish-blue);
  padding: 10px 10px;
}

/* Mid Section Boxes */
.container {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.box {
  width: 300px;
  background: #fff;
  padding: 30px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(17, 32, 160, 0.04),
    0 6px 40px rgba(76, 78, 97, 0.1);
  position: relative;
  overflow: hidden;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

#cyan::after {
  background: var(--cyan);
}

#red::after {
  background: var(--red);
}

#orange::after {
  background: var(--orange);
}

#blue::after {
  background: var(--blue);
}

.box h3 {
  font-weight: 600;
  color: var(--very-dark-blue);
}

.box p {
  font-size: 14px;
  color: var(--grayish-blue);
  padding: 10px 0 40px 0;
}

.box img {
  display: block;
  margin-left: auto;
}

#cyan,
#blue {
  transform: translateY(50%);
}
/* Footer */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  background: #202020;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 5px;
}

footer a {
  color: lightseagreen;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #cyan,
  #blue {
    transform: translateY(0);
  }

  footer {
    position: unset;
  }
}
